#home
	= render "frontend/landing_partials/home"
#about
	= render "frontend/landing_partials/about"
#services
	= render "frontend/landing_partials/services"
#products
	= render "frontend/landing_partials/products"
#supplies
	= render "frontend/landing_partials/supplies"
#contact_us
	= render "frontend/landing_partials/contact_us"
