.filters-links
	= link_to "MULTIFUNCIONALES", root_path(anchor: "products")
	%i.fa.fa-chevron-right
	= link_to @mark.name.upcase, "/products/multifuncionales"
	%i.fa.fa-chevron-right
	= link_to @stat.name.upcase, "/products/multifuncionales"
	%i.fa.fa-chevron-right
	= link_to @typeprint.name.upcase, "/products/multifuncionales/#{@mark.permalink}/#{@stat.permalink}"
= render "frontend/products_partials/listing_products"