.filters-links
	= link_to "#{@category.name.upcase}", root_path(anchor: "products")
.products-body
	- case @category.permalink
		- when "multifuncionales"
			= render template: "frontend/products_partials/multifunctionals"
		- else
			= render "frontend/products_partials/listing_products"
	