.filters-links
	= link_to "MULTIFUNCIONALES", "#"
	%i.fa.fa-chevron-right
	= link_to @mark.name.upcase, "/products/multifuncionales"
	%i.fa.fa-chevron-right
	= link_to @stat.name.upcase, "/products/multifuncionales"
.products-mark
	- @typeprints.each do |typeprint|
		.col-lg-6
			= link_to "/products/multifuncionales/#{@mark.permalink}/#{@stat.permalink}/#{typeprint.permalink}", class: "link-typeprint" do
				.mark
					.mark-img
						= image_tag "frontend/products/multifuncionales.jpg"
					.mark-name
						= typeprint.name.upcase