.listing-show-header
	%h5
		= material_icon.md_24.bookmark.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.list
		%h5 Módulo de marcas
		%p{align: "justify"} Aquí podra gestionar las marcas de los productos, ofrece opciones para crear, editar, eliminar y visualizar.
