%tr{ id: "row-#{mark.id}" }
	- if can? :destroy_multiple, Mark
		%td.item-check{style:"width: 10%"}
			= link_to "", mark_path(mark), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{mark.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{mark.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{mark.id}" }

		%td{style:"width: 30%"}
			= link_to "", mark_path(mark, search: @query), remote: true, class: "show-row"
			%span
				= mark.name
								
	%td{style:"width: 5%"}		
		= link_to mark_path(mark), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")