.container
	.col-lg-6.hidden-xs.hidden-sm
		= image_tag "frontend/about/logo-technisupport.png"
	.col-lg-6
		.card
			%p
				Technisupport Ecuador es una empresa posicionada en el mercado para ofrecer una amplia variedad de soluciones multifuncionales para la impresión, fotocopiado, escaneo, fax y gestión de documentos con diversas alternativas de conectividad.
			%p
				Contamos con 10 años de experiencia en el mercado nacional, lo cual garantiza poder ofrecer a nuestros clientes equipos de alta calidad, con precios compeitivos.

