.container
	.col-lg-4{ style: "margin-top: 70px;"}
		= image_tag "frontend/about/logo-technisupport.png"
		.primary-btn{ "data-target" => "#contact-modal", "data-toggle" => "modal", :type => "button", style: "cursor: pointer" }
			CONTACTÁNOS AQUÍ
		.contact
			%h4 VISITANOS EN
			.contact-direction
				%h4 MATRIZ
				%p Juán Pablo Sanz E4-19 y Amazonas
				%p Tlfs.: 2254-459 / 2461-078
				%p info @ copiadorasec.com
				%p tecnisupport @ uio.satnet.net
				%p Quito - Ecuador
			.contact-direction
				%h4 SUCURSAL
				%p Alemania N32-246 y Guayanas
				%p info @ copiadorasec.com
	.col-lg-8.hidden-xs.hidden-sm{ style: "padding: 0px"}
		#map_canvas

.modal.modal-forms.fade#contact-modal{ "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1" }
	.modal-dialog{ :role => "document" }
		.modal-content					
			= simple_form_for @message, :url => "/admin/messages", :method => :post, wrapper: :bootstrap do |f|
				.modal-body
					.head
						%p Tan solo dejanos tus datos en el formulario e inmediatamente uno de nuestros asesores cotizará y responderá tus inquietudes
						
					.form-inputs
						= f.input :name, label: false, wrapper: :bootstrap, input_html: {class: "form-control", placeholder: "Nombre", required: "required"}
						= f.input :email, as: :email, label: false, input_html: {class: "form-control", placeholder: "Email", required: "required"}
						= f.input :subject, label: false, input_html: {class: "form-control", placeholder: "Asunto"}
						= f.input :content, as: :text, label: false, input_html: {class: "form-control", placeholder: "Mensaje..."}
						.recaptcha
							= raw recaptcha_tags :display => { :theme => 'custom', lang: 'es' }, ajax: true
						.btn-group-justified
							.btn-group
								= f.button :submit, "Solicitar contización", class: "btn btn-default"
							.btn-group
								%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancelar
	