#carousel-home.carousel.slide.carousel-fade{"data-ride" => "carousel"}
	.carousel-inner{:role => "listbox"}
		.item#item-1.active
			= image_tag "frontend/home/bg.jpg"
			.card
				= "13 aÑos en el mercado ecuatoriano como empresa líder…".upcase
		.item#item-2
			= image_tag "frontend/home/bg-2.jpg"
			.card
				= "Somos la asesorÍa en la soluciÓn documental que tu empresa necesita".upcase
