.background
	.container
		.title
			EQUIPOS
		.subtitle
			Le ofrecemos soluciones tecnológicas concretas para el manejo de sus documentos, que harán que se olvide definitivamente de los costos excesivos.
.container.categories-products
	- @categories.first(4).each do |category|
		= link_to "products/#{category.permalink}" do
			.col-lg-3
				.category
					= image_tag "frontend/products/#{category.permalink}"
				.link-category
					= category.name.upcase
				