.container
	.title
		SOLUCIONES & SERVICIOS
	%ul.items
		%li Venta de Fotocopiadoras y Equipos multifunción nuevos y remanufacturados
		%li Arrendamiento de equipos
		%li Venta de suministros y repuestos
		%li Asesoramiento teconológico
		%li Servicio técnico calificado