.background
	.container
		.title
			SUMINISTROS Y REPUESTOS
		.subtitle
			Le ofrecemos soluciones tecnológicas concretas para el manejo de sus documentos, que harán que se olvide definitivamente de los costos excesivos.
.container.categories-supplies
	- @categories.last(4).each do |category|
		= link_to category_supplies_path(category.permalink) do
			.col-lg-3
				.category
					= image_tag "frontend/supplies/#{category.permalink}"
				.link-category
					= category.name.upcase
.background-cotization
	.container
		.row
			.col-lg-6
				.card-cotization
					Permite que nuestros asesores te brinden las mejores soluciones de fotocopiado e inversión para tu empresa o negocio. Tan solo dejanos tus datos en el formulario e inmediatamente uno de nuestros asesores cotizará y responderá tus inquietudes.
					.primary-btn{"data-target" => "#modal-cotization", "data-toggle" => "modal", :type => "button", style: "cursor: pointer;"}
						SOLICITUD DE COTIZACIÓN
				= render template: "frontend/budget_partials/modal", locals: { product: nil }