.wrapper
	.wrapper-body.container
		.actions
			= link_to budgets_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @budget do |f|
					.row
						= f.input :email
						= f.input :name
						= f.input :city
						= f.input :phone
						= f.input :origanization
						= f.input :description, input_html: {class: "materialize-textarea"}
						= f.input :product_id

						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"
