.listing-show-header
	.actions
		- if can? :update, Budget
			= link_to edit_budget_path(@budget), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.comment.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	%ul.list
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.id")
			.display-value= @budget.id
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.email")
			.display-value= @budget.email
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.name")
			.display-value= @budget.name
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.city")
			.display-value= @budget.city
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.phone")
			.display-value= @budget.phone
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.origanization")
			.display-value= @budget.origanization
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.description")
			.display-value= @budget.description
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.product_id")
			.display-value= @budget.product ? @budget.product.name : "No ingresado"
	

:javascript
	$(".modal-trigger").leanModal();
	$('.tooltipped').tooltip({delay: 1});
