%tr{ id: "row-#{budget.id}" }
	- if can? :destroy_multiple, Budget
		%td.item-check{style:"width: 10%"}
			= link_to "", budget_path(budget), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{budget.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{budget.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{budget.id}" }

		%td{style:"width: 30%"}
			= link_to "", budget_path(budget, search: @query), remote: true, class: "show-row"
			%span
				= budget.email
		%td{style:"width: 40%"}
			= link_to "", budget_path(budget, search: @query), remote: true, class: "show-row"
			%span
				= budget.name
		%td{style:"width: 25%"}
			= link_to "", budget_path(budget, search: @query), remote: true, class: "show-row"
			%span
				= budget.phone
								
	%td{style:"width: 5%"}		
		= link_to budget_path(budget), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")