= title "Budgets | #{@budget.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Budget
				= link_to budget_path(@budget), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")	
			- if can? :update, Budget
				= link_to edit_budget_path(@budget), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to budgets_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark") 
		.card			
			%ul.list
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.id")
					.display-value.fs-body-1.tc-black-2= @budget.id
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.email")
					.display-value.fs-body-1.tc-black-2= @budget.email
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.name")
					.display-value.fs-body-1.tc-black-2= @budget.name.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.city")
					.display-value.fs-body-1.tc-black-2= @budget.city.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.phone")
					.display-value.fs-body-1.tc-black-2= @budget.phone
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.origanization")
					.display-value.fs-body-1.tc-black-2= @budget.origanization.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.description")
					.display-value.fs-body-1.tc-black-2= @budget.description.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.product_id")
					.display-value.fs-body-1.tc-black-2= @budget.product ? @budget.product.name : "No ingresado"
