@import "../core/main";

#about{
	padding: 70px 0px;
	@media #{$phone}{
		font-size: 14px !important;	
	}

	.container{
		width: 75%;
		@media #{$phone}{
			width: 100%;
			padding: 0px;
		}
		@include display-flexbox;
		@include align-items(center);
		@include justify-content(center);
	}


	.card{
		background-color: $secondary-color;
		border-radius: 20px;
		padding: 25px;

		p{
			text-align: justify;
			font-size: 1.1em;
			font-weight: 600;
			color: white;
			@media #{$phone}{
				font-size: 1em;
			}
		}
	}

}