@import "../core/main";

#contact_us{
	@media #{$phone} {
    margin-bottom: 25px;
  }
	.container{
		width: 100%;
		padding: 0px;
		img{
			width: 240px; 
		}

		.contact{
			margin-top: 70px;
			margin: 15px auto;
 			width: 300px;

 			@media #{$phone} {
		    width: 100%;
		  }

			h4{
				margin: 15px 0px 10px 0px;
				font-weight: 700;
				color: #244058;;
			}

			.contact-direction{
				background: #244058;
				padding: 15px;
				color: white;
				font-size: 1.1em;
				margin-bottom: 15px;
				@media #{$phone}{
					font-size: 14px;
				}

				h4{
					margin-top: 10px;
					color: white;
				}
			}
		}
	}

	#map_canvas{
		width: 100%;
		height: 700px;
	}
}