@import "../core/main";

footer{
	color: white;
	height: 60px;
	background-color: #012241;
	text-align: center;
	font-size: 1em;
	position: relative;
	top: -10px;
	@include display-flexbox;
	@include align-items(center);
	@include justify-content(center);

	@media #{$phone} {
    font-size: .8em;
  }

	p{
		margin: 0;
	}

	a{
		color: white;
		font-weight: 900;
	}

	a:hover{
		color: white;
	}
}