// Place all the styles related to the frontend controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "../core/main";

#home{
	padding-top: 70px;
	/*
	.carousel-fade{
		width: 100%;
	}

	.carousel-fade .carousel-inner .item {
	  opacity: 0;
	  text-align: center;
	  padding: 0px 30px;
	  font-size: 1.3em;
	  font-weight: 700;
	  -webkit-transition-property: opacity;
	  -moz-transition-property: opacity;
	  -o-transition-property: opacity;
	  transition-property: opacity;
	}
	.carousel-fade .carousel-inner .active {
	  opacity: 1;
	}
	.carousel-fade .carousel-inner .active.left,
	.carousel-fade .carousel-inner .active.right {
	  left: 0;
	  opacity: 0;
	  z-index: 1;
	}
	.carousel-fade .carousel-inner .next.left,
	.carousel-fade .carousel-inner .prev.right {
	  opacity: 1;
	}
	.carousel-fade .carousel-control {
	  z-index: 2;
	}
	*/
	
	.item{
		img{
			width: 100%;
			@media #{$phone}{
				position: relative;
				height: 100vh;
			}
		}

	}

	.card{
		background: $secondary-color;
		color: white;
		width: 300px;
		position: absolute;
		top: 100px;
		right: 150px;
		padding: 25px;
		border-radius: 10px;
		text-align: center;
		font-size: 1.3em;
		font-weight: 900;

		@media #{$phone} {
			width: 90%;
			top: 25%;
			right: 5%;
			font-size: 1.1em;
		}
	}
}