@import "../core/main";

html, body {
 height: 100%;
}

body {
	font-family: 'Lato', sans-serif;
}

.alert{
  position: fixed;
  width: 400px;
  bottom: 20px;
  right: 20px;
  margin: auto;
  z-index: 1000;
   color: white;
  border: 0px;
  border-radius: 0px;
  @media #{$phone}{
    width: 90%;
    right: 5%;
  }
}

.alert-success{
  background: $primary-color;
}

.alert-danger{
  background: $secondary-color;
 
}

// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
}

#nprogress {
  .spinner{
    z-index: 999999;
    top: 15px;
  }

  .spinner-icon {
    border: solid 3px transparent;

    border-top-color: #29d;
    border-left-color: #29d;

    width: 40px;
    height: 40px;
  }
}

.title{
  text-align: center;
  width: 30%;
  font-size: 1.6em;
  font-weight: 900; 
  border-radius: 10px;
  color: white;
  background: $primary-color;
  padding: 15px;
  margin-bottom: 30px;

  @media #{$phone}{
    width: 100%;
    font-size: 1.2em;
  }
}

.subtitle{
  color: white;
  font-size: 1.3em;
  text-align: center;
  width: 60%;

  @media #{$phone}{
    width: 100%;
    font-size: 1.3em;
  }
}

.primary-btn{
  margin: 25px auto;
  width: 300px;
  text-align: center;
  font-weight: 1.2em;
  font-weight: 900;
  color: white;
  background: $secondary-color;
  padding: 15px;

  @media #{$phone} {
    width: 100%;
  }
}

.pagination{
  width: 100%;
  text-align: center;

  .btn-current{
    background: #024d7b;
    color: white;
    font-weight: bold;
  }

  .page, .next, .last, .prev, .first{     
    .btn-page, .btn-page:hover{
      color: rgba(0, 0, 0, 0.54) !important;
      background: #eeeeee;
      font-weight: bold;
      i{
        font-weight: bold;
      }
    }
  }
}

.modal-forms{
  .modal-content{
    padding: 25px;
    background: #244058;
    color: white;
    font-size: 700;
    @media #{$phone}{
      padding: 0px;
    }
    .head{
      text-align: center;
      font-size: 1.3em;
      margin: auto;
      width: 70%;
      margin-bottom: 20px;
      @media #{$phone}{
        width: 100%;
      }
    }
    .form-inputs{
      width: 85%;
      margin: auto;
      @media #{$phone}{
        width: 100%;
      }
      .product-name{
        font-size: 1.1em;
        text-align: center;
        margin-bottom: 10px;
        span{
          font-weight: 900;
        }
      }
      .form-control{
        margin: auto;
        margin-bottom: 15px;
      }
    }
    @media #{$phone}{
      .g-recaptcha div:nth-child(1){
        transform: scale(0.82);
        transform-origin: 0 0;
      }
    }
  }

  .btn-default{
    margin-top: 20px;
    border-radius: 0px !important;
    background: #A2A2A2;
    color: white; 
    border: 0px;
    font-size: 1.2em;
    font-weight: 700;
    @include transition(.2s);
    @media #{$phone}{
     font-size: .8em;
     border: 1px solid white;
    }
  }
  .btn-default:hover{
    background: $secondary-color;
    @include transition(.2s);
  }
}

