@import "../core/main";

#front-navbar{ 
	padding: 10px 0px;
	font-weight: bold;
	background-color: $primary-color;
	margin-bottom: 0px;
	border-radius: 0px;
	border: none;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.17);


	.brand{
		position: relative;
		width: 200px;
		@media #{$phone} {
			width: 200px;
			margin-left: 15px;
		}
	}

	.navbar-nav{
		float: right;
		font-weight: 600;
		@media #{$phone} {
			float: left;
		}
		a{
			color: white;
			@include transition(.5s);
		}
		a:hover{
			color: $secondary-color;
			@include transition(.5s);
		}
		li.current{
			a{ 
				color: $secondary-color; 
			}
		}
	}
}