@import "../core/main";

#products{
	position: relative;
	top: -10px;
	@media #{$phone} {
		font-size: 12px !important;	
  }

	.background{
		padding: 70px 0px 70px 0px;
		background: image-url("frontend/products/bg.jpg") no-repeat;
		background-size: cover;

		.container{
			@include display-flexbox;
			@include align-items(center);
			@include justify-content(center);
			@include flex-direction(column);
			.title{
				background: white;
				color: $primary-color;
				font-weight: 900;
			}
		}
	}

	.categories-products{
		width: 85%;
		margin-top: 50px;
		margin-bottom: 100px;
		
		a{
			.category{
				height: 250px;
				@include display-flexbox;
				@include align-items(center);
				@include justify-content(center);
			}
			
			.link-category{
				text-align: center;
				border-top: 2px solid #024d7b;
				padding-top: 15px;
				color: #024d7b;
				font-weight: 900;
				font-size: 1.2em;
				text-align: center;
				position: relative;
				top: 0px;
				@include transition(.2s);
			}
		}

		a:hover{
			text-decoration: none;
			.link-category{
				border-top: 2px solid $secondary-color;
				color: $secondary-color;
				position: relative;
				top: -5px;
				@include transition(.2s);
			}
		}
	}
}