@import "../core/main";

#products{
	@media #{$phone}{
		font-size: 14px !important;	
	}
	#bg-footer{
		background: image-url("frontend/supplies/bg.jpg") no-repeat;
		position: relative;
		top: 12px;
		@media #{$phone} {
			padding: 15px;
		}
	}

	.filters{
		padding: 40px 0px 40px 0px;
		width: 70%;
		@media #{$phone}{
			width: 90%;
		}

		&-links{
			a{
				color: #244058;
				font-size: 1.3em;
				font-weight: 700;
				@media	#{$phone}{
					font-size: .8em;
					font-weight: 900;
				}
			}

			i{
				color: #244058;
				margin: 0px 10px;
				position: relative;
				top: -1px;
				@media	#{$phone}{
					font-size: .6em;
				}
			}
		}

		.products-mark{
			.link-typeprint{
				text-decoration: none;
			}

			.link-typeprint:hover{
				.mark-img{
					color: $secondary-color;
					border-bottom: 2px solid $secondary-color;;
				}
				.mark-name{
					color: $secondary-color;
					@include transition(.2s);
				}
			}
		}

		.mark{
			margin: 20px auto;
			margin-top: 20px;
			background: white;
			@include display-flexbox;
			@include align-items(center);
			@include justify-content(center);
			@include flex-direction(column);
			
			&-img{
				@include display-flexbox;
				@include align-items(center);
				@include justify-content(center);
				overflow: hidden;
				position: relative;
				width: 250px;
				height: 250px;
				border-bottom: 2px solid #024d7b;
				@include transition(.2s);

				.mark-mask{
					@include display-flexbox;
					@include align-items(center);
					@include justify-content(center);
					color: white;
					font-size: 1.3em;
					font-weight: 500;
					width: 100%;
					height: 50%;
					position: absolute;
					background: rgba(2, 77, 123, 0.7);
					@include transition(.2s);
				}

				.mark-mask:hover{
					font-weight: 900;
				}

				#new{
					border-bottom: 1px solid white;
					top: 0px;
					right: -500px;
					@media	#{$phone}{
						right: 0px;
					}
				}

				#old{
					border-top: 1px solid white;
					bottom: 0px;
					left: -500px;
					@media	#{$phone}{
						left: 0px;
					}
				}

				img{
					width: 80%;
				}
			}

			&-img:hover{
				#new{
					right: 0px;
					@include transition(.2s);
				}

				#old{
					left: 0px;
					@include transition(.2s);
				}
			}

			&-name{
				margin-top: 10px;
				color: #024d7b;
				font-size: 1.3em;
				font-weight: 700;
				text-align: center;
				@include transition(.2s);
			}
		}

		.listing-products{
			margin-top: 50px;
			
			hr{
				margin-bottom: 50px;
			}
			
			.row-product{
				.row-image{
					img{
						max-height: 300px;
					}
					@media #{$phone}{
						height: auto;
						margin-bottom: 30px;
					}
					@include display-flexbox;
					@include align-items(center);
					@include justify-content(center);

				}

				.row-description{
					position: relative;
					@media #{$phone}{
						height: auto;
					}

					h3{
						margin-top: 0px;
						font-size: 1.4em;
						font-weight: 900;
					}
					.details{
						h4{
							font-size: 1.2em;
							font-weight: 700;
						}
						p{
							margin: 2px;
							font-size: 1em;
						}
						ul{
							padding-left: 18px;
						}
						a{
							text-decoration: none;
						}
					}
				}

				.row-attributes{
					position: relative;
					@media #{$phone}{
						height: auto;
					}
					.details{
						.card{
							padding: 15px;
							background: grey;
							ul{
								margin: 0px;
								color: white;
								padding: 0px;
								font-size: .9em;
								list-style-type: none;
							}
						}
						a:hover{
							text-decoration: none;
							color: white;
						}
					}
				}
			}
		}
	}

	.row-btns{
		a{
			text-decoration: none;
		}
		.btn-url{
			width: 100%;
			@media #{$phone}{
				position: relative;
			}
		}

		.btn-budget{
			width: 100%;
			background: #244058;
			cursor: pointer;
			@media #{$phone}{
				position: relative;
				width: 100% !important;
				top: -15px;
			}
		}
	}
}