@import "../core/main";

#services{
	padding: 70px 0px 70px 0px;
	background: image-url("frontend/services/bg.jpg") no-repeat;
	background-size: cover;

	.container{
		@include display-flexbox;
		@include align-items(center);
		@include justify-content(center);
		@include flex-direction(column);

		.items{
			padding: 0px;
			width: 40%;
			@media #{$phone}{
				width: 90%;	
			}
			li{
				font-size: 1.2em;
				font-weight: 400;
				color: #003366;
				text-align: center;
				list-style: none;
				border-bottom: 2px solid #003366;
				padding: 30px;
				@media #{$phone}{
					padding: 20px;
					font-size: 14px;	
				}
			}
		}
	}
}