@import "../core/main";

#supplies{
	.background{
		padding: 70px 0px 70px 0px;
		background: image-url("frontend/supplies/bg.jpg") no-repeat;
		background-size: cover;
	

		.container{
			@include display-flexbox;
			@include align-items(center);
			@include justify-content(center);
			@include flex-direction(column);
		}
	}

	.categories-supplies{
		width: 85%;
		margin-top: 50px;
		margin-bottom: 100px;
		
		a{
			.category{
				height: 250px;
				@include display-flexbox;
				@include align-items(center);
				@include justify-content(center);
			}
			
			.link-category{
				text-align: center;
				border-top: 2px solid #024d7b;
				padding-top: 15px;
				color: #024d7b;
				font-weight: 900;
				font-size: 1.2em;
				text-align: center;
				position: relative;
				top: 0px;
				@include transition(.2s);
			}
		}

		a:hover{
			text-decoration: none;
			.link-category{
				border-top: 2px solid $secondary-color;
				color: $secondary-color;
				position: relative;
				top: -5px;
				@include transition(.2s);
			}
		}
	}

	.background-cotization{
		padding: 70px 0px 70px 0px;
		background: image-url("frontend/supplies/bg-cotizations.jpg") no-repeat;
		background-size: cover;

		.card-cotization{
			background: white;
			text-align: center;
			padding: 30px 50px;
			border-radius: 10px;
			color: #244058;
			font-size: 1.1em;
			font-weight: 600;
			@media #{$phone} {
		    padding: 20px 20px;
		  }

			.primary-btn{
				margin-bottom: 0px;
			}
		}
	}
}