.modal.modal-forms.fade{ "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", id: product ? "modal-budget-#{product.id}" : "modal-cotization"}
	.modal-dialog{ :role => "document" }
		.modal-content
			= simple_form_for @budget, wrapper: :bootstrap do |f|
				.modal-body
					.head
						%p Tan solo dejanos tus datos en el formulario e inmediatamente uno de nuestros asesores cotizará y responderá tus inquietudes
						
					.form-inputs
						- if product
							.product-name
								Solicitud de cotización para 
								%span= "#{product.name}"
						= f.input :email, label: false, input_html: { class: "form-control" }, placeholder: "Correo electrónico (Requerido)"
						= f.input :name, label: false, input_html: { class: "form-control"}, placeholder: "Nombre (Requerido)"
						= f.input :city, label: false, input_html: { class: "form-control"}, placeholder: "Ciudad (Requerido)"
						= f.input :phone, label: false, input_html: { class: "form-control"}, placeholder: "Teléfono (Requerido)"
						= f.input :origanization, label: false, input_html: { class: "form-control"}, placeholder: "Organización o Empresa (Opcional)"
						= f.input :description, label: false, input_html: { class: "form-control", style: "height: 100px" }, placeholder: "Escribe otros detalles tu solicitud de cotización (Requerido)"
						- if product
							= f.input :product_id, as: :hidden, label: false, input_html: { class: "form-control", value: product.id }
						.btn-group-justified
							.btn-group
								= f.button :submit, "Solicitar contización", class: "btn btn-default"
							.btn-group
								%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancelar