%head
	%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
	%title= content_for?(:title) ? yield(:title) : 'Tecnisupport - Ventas de Copiadoras en Ecuador'
	%meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Venta de copiadoras Ricoh e impresoras empresariales en Quito-Ecuador. Ofrecemos un mejor servicio y pronta respuesta a sus necesidades de Fotocopiado Ricoh.'}"}
	= stylesheet_link_tag 'frontend/application', media: 'all', 'data-turbolinks-track' => true
	%script{src:"https://maps.googleapis.com/maps/api/js?sensor=false"}
	= javascript_include_tag 'frontend/application', 'data-turbolinks-track' => true
	= render 'layouts/frontend/google_analytics'
	= favicon_link_tag "frontend/favicon.png"
	= csrf_meta_tags