-# Rails flash messages styled for Bootstrap 3.0
- flash.each do |name, msg|
	- if msg.is_a?(String)
		%div{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}"}
			%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
			%p
				%strong Notificacion:
			= content_tag :div, msg, :id => "flash_#{name}"
