%li
	= link_to "INICIO", is_index? ? "#home" : root_path, class: "#{'external' unless is_index?}"

%li
	= link_to "EMPRESA", is_index? ? "#about" : root_path(anchor: "about"), class: "#{'external' unless is_index?}"
%li
	= link_to "SOLUCIONES & SERVICIOS", is_index? ? "#services" : root_path(anchor: "services"), class: "#{'external' unless is_index?}"

%li{ class: "#{'current' if products_path?}" }
	= link_to "EQUIPOS", is_index? ? "#products" : root_path(anchor: "products"), class: "#{'external' unless is_index?}"

%li{ class: "#{'current' if supplies_path?}" }
	= link_to "SUMINISTROS & RESPUESTOS", is_index? ? "#supplies" : root_path(anchor: "supplies"), class: "#{'external' unless is_index?} #{'current' if supplies_path?}"
	
%li
	= link_to "CONTACTENOS", "#contact_us"
