!!!
%html
	= render 'layouts/frontend/head' 
	%body
		%header
			= render 'layouts/frontend/navigation'
		%main{:role => "main"}
			= render 'layouts/frontend/messages'
			= yield
		%footer
			= render 'layouts/frontend/footer'

		= render 'keppler_adwords/data'
		- if is_index?
			:javascript
				$( document ).ready(function() {
					setTimeout(function(){
						window.scrollTo(0, $('#'+window.location.hash.substring(1)).offset().top-70)
					}, 1);
				});


			
			