!!!
%html
	= render 'layouts/frontend/head' 
	%body
		%header
			= render 'layouts/frontend/navigation'
		%main{:role => "main"}
			#products{ style: "margin-top: 70px;"}
				.background
					.container
						.title
							= products_path? ? "EQUIPOS" : "SUMINISTROS & REPUESTOS"
						.subtitle
							-  if products_path?
								Le ofrecemos soluciones tecnológicas concretas para el manejo de sus documentos, que harán que se olvide definitivamente de los costos excesivos.
							- else
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua.
								=action_name
				.container.filters
					= render "layouts/frontend/messages"	
					= yield
				.background#bg-footer
					.container
						.subtitle
							-  if products_path?
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim. Products
							- else
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Supplies
				#contact_us
					= render "frontend/landing_partials/contact_us"
		%footer
			= render 'layouts/frontend/footer'