!!!
%html
	%head
	%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
	%body
		%h3= "#{@budget.name} ha realizado una solicitud de cotización}"
		= link_to "Haga click en el enlace para ver la cotización.", "http://technisupport.com"+budget_path(@budget.id)