.wrapper
	.wrapper-body.container
		.actions
			= link_to products_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @product do |f|
					.row
						= f.input :image, :as => :file_material, label: false, wrapper_html: { class: "file-field" }
						= f.input :name, label: "Nombre"
						= f.input :price, label: "Precio"
						= f.input :spacification_link, label: "Url de pdf"
						%div
							%label{ style: "position: relative; top: 10px; left: 10px; font-weight: 900; font-size: 1em; color: black;"} Escribir descripción del equipo:
							= f.input :description, :as => :ckeditor, label: false, input_html: { :ckeditor => { :toolbar => 'mini'} }
						%br/
						%label{ style: "position: relative; top: 10px; left: 10px; font-weight: 900; font-size: 1em; color: black;"} Escribir atributos del equipo:
						= f.input :attributes_description, :as => :ckeditor, label: false, input_html: { :ckeditor => { :toolbar => 'mini'} }
						= f.input :category_id, collection: Category.all, label: false, include_blank: "Selecione una categoría", input_html: { class: "browser-default" }
						= f.input :mark_id, collection: Mark.all, label: false, include_blank: "Selecione una marca", input_html: { class: "browser-default" }
						= f.input :stat_id, collection: Stat.all, label: false, include_blank: "Selecione una estado", input_html: { class: "browser-default" }
						= f.input :typeprint_id, collection: Typeprint.all, label: false, include_blank: "Selecione tipo de color", input_html: { class: "browser-default" }

						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"

- if @product.image.file
	:javascript
		$('.file-path').val("#{@product.image.file.filename}")
