.listing-show-header
	.actions
		- if can? :update, Product
			= link_to edit_product_path(@product), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar", 'data-no-turbolink' => true do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.print.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	= image_tag @product.image
	%ul.list
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.id")
			.display-value= @product.id
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.name")
			.display-value= @product.name
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.description")
			.display-value= sanitize(@product.description, tags: []).truncate(300)
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.price")
			.display-value= @product.price
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.spacification_link")
			.display-value= link_to @product.spacification_link, @product.spacification_link, target: "_blank"
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.category_id")
			.display-value= @product.category.name
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.mark_id")
			.display-value= @product.mark.name
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.stat_id")
			.display-value= @product.stat.name
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.typeprint_id")
			.display-value= @product.typeprint.name
	

:javascript
	$(".modal-trigger").leanModal();
	$('.tooltipped').tooltip({delay: 1});
