%tr{ id: "row-#{product.id}" }
	- if can? :destroy_multiple, Product
		%td.item-check{style:"width: 10%"}
			= link_to "", product_path(product), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{product.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{product.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{product.id}" }

		%td{style:"width: 40%"}
			= link_to "", product_path(product, search: @query), remote: true, class: "show-row"
			%span
				= product.name
		%td{style:"width: 20%"}
			= link_to "", product_path(product, search: @query), remote: true, class: "show-row"
			%span
				= product.category.name
		%td{style:"width: 20%"}
			= link_to "", product_path(product, search: @query), remote: true, class: "show-row"
			%span
				= product.mark.name
		%td{style:"width: 10%"}
			= link_to "", product_path(product, search: @query), remote: true, class: "show-row"
			%span
				= product.stat.name
		%td{style:"width: 10%"}
			= link_to "", product_path(product, search: @query), remote: true, class: "show-row"
			%span
				= product.typeprint.name
								
	%td{style:"width: 5%"}		
		= link_to product_path(product), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")