= title("Porductos - Listado")
.listing.col.l9.m12.s12
	- if can? :new, model
		= link_to new_product_path, class: "btn-floating btn-large waves-effect waves-light teal btn-new hide-on-small-only", 'data-no-turbolink' => true do
			= material_icon.md_24.add
	= entries(@total, @objects)
	%table.bordered
		%tbody
			- @objects.each do |product|
				= render 'listing', product: product
			- if @objects.size.zero?
				%tr
					%td{colspan: "4"}
						%center
							No se han encontrado products.
	= paginate @objects, window: 1

.listing-show.col.l3.m12.hide-on-small-and-down.hide-on-med-and-down
	= render "description"

- if can? :new, model
	= link_to new_product_path, class: "btn-index-add btn-floating btn-large teal waves-effect waves-light red" do
		= material_icon.md_24.add.css_class("md-light")
