= title "Productos | #{@product.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Product
				= link_to product_path(@product), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")	
			- if can? :update, Product
				= link_to edit_product_path(@product), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar", 'data-no-turbolink' => true do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to products_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark") 
		.card
			%center
				= image_tag @product.image	
			%ul.list
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.id")
					.display-value.fs-body-1.tc-black-2= @product.id					
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.name")
					.display-value.fs-body-1.tc-black-2= @product.name.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.description")
					.display-value.fs-body-1.tc-black-2= raw @product.description
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.price")
					.display-value.fs-body-1.tc-black-2= @product.price.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.spacification_link")
					.display-value.fs-body-1.tc-black-2= link_to @product.spacification_link, @product.spacification_link, target: "_blank"
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.category_id")
					.display-value.fs-body-1.tc-black-2= @product.category.name.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.mark_id")
					.display-value.fs-body-1.tc-black-2= @product.mark.name.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.stat_id")
					.display-value.fs-body-1.tc-black-2= @product.stat.name.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.typeprint_id")
					.display-value.fs-body-1.tc-black-2= @product.typeprint.name.humanize
