$desktop-large: "(min-width:1200px)";
$desktop: "(min-width:992px) and (max-width:1199px)";
$tablet: "(min-width: 768px) and (max-width:991px)";
$tablet-landscape: "(min-width:768px) and (orientation : portrait)";
$phone: "(max-width: 767px) and (orientation : portrait)";
$phone-landscape: "(max-width: 767px) and (orientation : landscape)";
$min-phone: "(max-width: 320px) and (orientation : portrait)";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

//fuentes
$lato: 'Lato', sans-serif;

//colores
$primary-color: #012241;
$secondary-color: #d01732;
$bg-primary: #fff;
$bg-secondary: #f5f5f5;