- if @products.empty?
	%br
	%center
		%h4 Lo siento, no se han encontrado productos
- else 
	.listing-products
		- @products.each do |product|
			.row.row-product
				.col-lg-4.row-image
					= image_tag product.image
				.col-lg-4.row-description
					%h3= product.name
					.details
						%h4 Detalles Generales
						= raw product.description
				.col-lg-4.row-attributes
					.details
						.card.hidden-xs
							= raw product.attributes_description
			.row.row-btns
				.col-lg-4
				.col-lg-4
					- unless product.spacification_link.blank?
						= link_to product.spacification_link, target: "_blank" do
							.primary-btn.btn-url
								CATÁLOGO COMPLETO
				.col-lg-4
					.primary-btn.btn-budget{"data-target" => "#modal-budget-#{product.id}", "data-toggle" => "modal", :type => "button"}
						SOLICITAR CONTIZACIÓN
				= render template: "frontend/budget_partials/modal", locals: { product: product }
					
			%hr/
	= paginate @products, :views_prefix => 'templates'