.products-mark
	- @marks.each do |mark|
		.col-lg-6
			.mark
				.mark-img
					= link_to "/products/multifuncionales/#{mark.permalink}/#{@stats.first.permalink}" do
						.mark-mask#new
							= @stats.first.name
					= link_to "/products/multifuncionales/#{mark.permalink}/#{@stats.last.permalink}" do
						.mark-mask#old
							= @stats.last.name
					= image_tag "frontend/products/#{mark.permalink}.jpg"
				.mark-name
					= mark.name.upcase
	